.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Div-title {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  margin-bottom: 50px;
  background-color: #3c3c3c;
  color: gainsboro;
  border-bottom: 3px solid #56e3b8;
}

.Bouton-Submit {
  background-color: #56e3b8;
  border: 3px solid #56e3b8;
}

.Bouton-Restaurer {
  background-color: #eee;
  border: 3px solid #eee;
}

.Filtre {
  margin-left: 70px;
  margin-top: 50px;
  display: flex;
}

.Bouton-filtre {
  background-color: #eee;
  border: 3px solid #eee;
  margin-left: 20px;
}

.Trier {
  margin-top: 5px;
}
.Div-content {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  background-color: #eee;
}

.Desc {
  width: 14%;
  margin: auto;
  text-align: center;
}

.Description {
  width: 20%;
}

.Titre {
  margin-left: 70px;
  width: 9%;
}

.DescTitle {
  margin-left: 10px;
}
